@use 'sass:math';

@mixin media($screenSize, $screenWidth, $limitation, $width) {
  .#{$screenSize}-#{$width} {
    width: #{math.div(percentage($width), 12)};
  }
}
$breakpoints: xs 600 max, sm 600 min, md 960 min, lg 1264 min, xl 1904 min;

@each $size, $width, $limitation in $breakpoints {
  @media (#{$limitation}-width: #{$width}px) {
    @for $i from 1 through 12 {
      @include media($size, $width, $limitation, $i);
    }
  }
}

$primary:#4791db;
$success:#4caf50;
$error:#f44336;
